// Configuration instructions:
// [1] Pick a font.
// [2] Select the best base font-size and line-height.
// [3] Select a typographic ratio based on that font.
// [4] Tweak colours and other configuration options.
// [5] Add custom styles as required.

// Typography.
$font-family: 'Lexend';
$base-font-size: 18px;
$base-font-weight: 250; // For variable fonts.
$line-height: 1.2;

// Typographic ratio.
// Select from: 'octave', 'major-seventh', 'minor-seventh', 'major-sixth',
// 'minor-sixth', fifth', 'augmented-fourth', 'fourth', 'major-third',
// 'minor-third', 'major-second', 'minor-second', 'cinema', and 'golden'.
$ratio: 'fourth';

:root {
  // Colours
  --hue: 7;
  --light-1: rgb(253 250 250);
  --light-2: rgb(243 240 240);
  --light-3: rgb(233 230 230);

  --dark-1: rgb(180 170 170);
  --dark-2: rgb(60 50 50);
  --dark-3: rgb(30 20 20);
  --dark-shadow: rgb(180 170 170 / 90%);

  --foreground: var(--dark-3);

  --background: var(--light-1);
  --background-card: var(--light-1);

  --neutral: rgb(80 80 80);

  --info: rgb(0 0 255);
  --warning: rgb(255 255 0);
  --error: rgb(255 0 0);
  --success: rgb(0 255 0);

  --disabled: rgb(127 127 127);
  // TODO: Temporary.
  // --selected: rgb(0 255 0);
  // --pricing-platinum: rgb(54 33 162);
  // --pricing-gold: rgb(255 99 42);
  // --pricing-silver: rgb(50 200 236);
  // --pricing-bronze: rgb(134 215 12);

  // Spacing
  --gutter: var(--xl);

  // Borders
  --border-width: 2px;
  --border-colour: var(--dark-1);
  --border-radius: 5px;
  --border-radius-sm: 1px;
  --border: solid var(--border-colour) var(--border-width);

  // Animation
  --transition-fast: 0.15s;
  --transition-medium: 0.3s;

  // --shadow:
  --box-shadow: 0 0 var(--md) var(--dark-shadow);
  --shadow-top: 0 calc(var(--md) * -1) var(--md) calc(var(--md) * -1) var(--dark-shadow);
  --shadow-bottom: 0 var(--md) var(--md) calc(var(--md) * -1) var(--dark-shadow);
  --shadow-inset: inset 0 0 var(--md) var(--dark-shadow);
}
