// Configuration instructions:
// [1] Pick a font.
// [2] Select the best base font-size and line-height.
// [3] Select a typographic ratio based on that font.
// [4] Tweak colours and other configuration options.
// [5] Add custom styles as required.

// Typography.
$font-family: "";
$base-font-size: 16px;
$base-font-weight: 300; // For variable fonts.
$line-height: 1.5;

// Typographic ratio.
// Select from: 'octave', 'major-seventh', 'minor-seventh', 'major-sixth',
// 'minor-sixth', fifth', 'augmented-fourth', 'fourth', 'major-third',
// 'minor-third', 'major-second', 'minor-second', 'cinema', and 'golden'.
$ratio: "fourth";

:root {
  // Colours
  --light: rgb(255 255 255);
  --dark: rgb(0 0 0);
  --foreground: var(--dark);
  --background: var(--light);

  --primary: rgb(127 127 127);
  --secondary: rgb(200 200 200);
  --neutral: rgb(80 80 80);

  --info: rgb(0 0 255);
  --warning: rgb(255 255 0);
  --error: rgb(255 0 0);
  --success: rgb(0 255 0);

  // Spacing
  --gutter: var(--xl);

  // Borders
  --border-width: 5px;
  --border-colour: var(--foreground);
  --border-radius: 1px;
  --border: solid var(--border-colour) var(--border-width);

  // Animation
  --transition-fast: 0.15s;
  --transition-medium: 0.3s;

  // Forms
  --form-control-padding: var(--xs) var(--sm);
  --form-control-background: var(--secondary);
}
